<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comments">
	<select id="getList" parameterType="commentsDto" resultType="commentsDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT num, cmt.writer, room_img, score, 
					TO_CHAR(cmt.regdate, 'YYYY.MM.DD HH24:MM') AS regdate,
					content, target_id, room_num, comment_num, deleted, profile
				FROM comments cmt
				INNER JOIN users us
				ON cmt.writer=us.id
				WHERE room_num=#{room_num}
				ORDER BY comment_num DESC, num ASC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="int" resultType="int">
		SELECT COUNT(num) AS totalNum FROM comments WHERE room_num=#{room_num}
	</select>
</mapper>