<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, email, password, name, regdate)
		VALUES
		(#{id}, #{email}, #{password}, #{name}, SYSDATE)
	</insert>
	
	<select id="selectId" parameterType="String" resultType="usersDto">
		SELECT id, password FROM users
		WHERE id=#{id}
	</select>
	
	<insert id="insertSessionId" parameterType="usersDto">
		UPDATE users
		SET sessionId=#{sessionId}
		WHERE id=#{id}
	</insert>
	
	<update id="deleteSessionId" parameterType="String">
		UPDATE users
		SET sessionId=''
		WHERE id=#{id}
	</update>
	
	<select id="selectSessionIdExist" parameterType="String" resultType="usersDto">
		SELECT id
		FROM users
		WHERE sessionId=#{decodedSessionId}
	</select>
</mapper>