<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="users">

	<insert id="insert" parameterType="usersDto">
		INSERT INTO users
		(id, email, password, name, regdate)
		VALUES
		(#{id}, #{email}, #{password}, #{name}, SYSDATE)
	</insert>
	
	<select id="selectId" parameterType="String" resultType="usersDto">
		SELECT id, password FROM users
		WHERE id=#{id}
	</select>
	
	<insert id="insertSessionId" parameterType="usersDto">
		UPDATE users
		SET sessionId=#{sessionId}
		WHERE id=#{id}
	</insert>
	
 	<update id="deleteSessionId" parameterType="String">
		UPDATE users
		SET sessionId=''
		WHERE id=#{id}
	</update>
	
	<select id="selectSessionIdExist" parameterType="String" resultType="usersDto">
		SELECT id
		FROM users
		WHERE sessionId=#{decodedSessionId}
	</select>
	
	
	<!-- 회원정보 가져오기 (성공) -->
	<select id="getData" parameterType="string" resultType="usersDto">
		SELECT id ,password, email, name
		FROM users
		WHERE id=#{id }
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="pwdUpdate" parameterType="usersDto">
		UPDATE users
		SET password= #{newpassword }
		WHERE id= #{id}
	</update>
	
	<!-- 개인정보 변경 -->
	<update id="update" parameterType="usersDto">
		UPDATE users
		SET name=#{name }, email=#{email }
		WHERE id=#{id }
	</update>
	
	<!-- 회원정보 삭제 -->
	<delete id="delete" parameterType="string">
		DELETE FROM users
		WHERE id=#{id}
	</delete>
	
	<!-- 예약 내역 -->
	
</mapper>