@CHARSET "UTF-8";
@import url("reset.css");
@import url("fullpage.css");
@import url("swiper.css");

/*------------------------------------------------------------------------------------------------*/
/* images */
footer .imgs div                                {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/special/3/2.jpg) no-repeat 50% 50%;background-size:cover;}
#index .Maps                                    {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/main/0/map.jpg) no-repeat 50% 50%;background-size:cover;}
#index .Movies                                  {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/main/0/video.jpg) no-repeat 50% 50%;background-size:cover;}

#index #Videos iframe              				{background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/thumb/main.jpg) no-repeat 50% 50%;background-size:cover;}
#about #Videos iframe              				{background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/thumb/exterior.jpg) no-repeat 50% 50%;background-size:cover;}
#rooms_pv #Videos iframe              			{background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/thumb/room.jpg) no-repeat 50% 50%;background-size:cover;}
#special_pv #Videos iframe              		{background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/thumb/special.jpg) no-repeat 50% 50%;background-size:cover;}

#video #Banner .bg                              {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}
#travel #Banner .bg                             {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/banner/1.jpg) no-repeat 50% 50%;background-size:cover;}
#reserve #Banner .bg                            {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/banner/2.jpg) no-repeat 50% 50%;background-size:cover;}
#community #Banner .bg                          {background:url(http://gonylab6.speedgabia.com/fullstay/sorangje/banner/3.jpg) no-repeat 50% 50%;background-size:cover;}

/*------------------------------------------------------------------------------------------------*/
/* Common */
section 							            {width:100%;height:100%;min-width:1000px;}
section,.section					            {position:relative;width:100%;}
section #scroll                                 {position:absolute;bottom:30px;left:50%;margin-left:-40px;z-index:100;}

/* video */
#Videos                                         {height:100%;overflow:hidden;}
#Videos .MyFrame 					            {position:relative;width:100%;height:100%;overflow:hidden;}
#Videos .MyFrame:before                         {position:absolute;top:0;left:0;width:100%;height:100%;content:"";display:block;z-index:1;}
#Videos .MyFrame #MyVideo		 	            {position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);background-repeat:no-repeat;background-position:50% 50%;}
#Videos .MyFrame #MyVideo		 	            {min-width:100%;min-height:100%;width:auto;height:auto;object-fit:cover;background-size:cover;}

/* Visual */
#Visuals                                        {position:relative;width:100%;height:90vh;min-height:600px;overflow:hidden;}
/*#Visuals .InnerBox                              {position:absolute;top:0;left:0;border:10px solid #fff;width:calc(100% - 20px);height:calc(100% - 20px);z-index:1;}
#Visuals .InnerBox:before                       {position:absolute;top:0;left:0;width:100%;height:100%;content:"";display:block;z-index:1;}*/
#Visuals .InnerBox h2 							{position:absolute;top:50%;left:50%;width:400px;height:100px;margin:-50px 0 0 -200px;text-align:center;z-index:2;}	
#Visuals .InnerBox h2 span 						{display:block;color:Black;margin-top:10px;font-size:35px;letter-spacing:3px;}


/* fullpage */
#fullpage .img                                  {position:relative;width:100%;height:100%;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
#fp-arrow a                                     {position:fixed;display:block;width:85px;height:50px;z-index:100;}
#fp-arrow a.fp-prev                             {top:calc(15% + 77px);right:2%;background:url(../images/top.png) no-repeat left top;display:none;}
#fp-arrow a.fp-next                             {bottom:calc(15% + 77px);right:2%;background:url(../images/bottom.png) no-repeat left top;}
#fp-nav.fp-right					            {right:calc(2% + 31.5px);}
#fp-nav ul li                                   {margin:15px 7px;}
#fp-nav ul li a                                 {width:22px;height:22px;}
#fp-nav ul li a                                 {background:url(../images/off.png) no-repeat left top;}
#fp-nav ul li a.active                          {background:url(../images/on.png) no-repeat left top;}
#fp-nav ul li a span                            {background:none;}

@media (max-width: 1400px) and (min-width: 1200px){
	header hgroup h1                            {width:50%;}
	header hgroup div                           {width:calc(48% - 1px);padding:0 1%;}
	header hgroup div p                         {font-size:13px;}
	header nav > ul > li.gb a                   {padding:33px 0;}
	header nav > ul > li.gb a > span            {font-size:13px;height:13px;}
}


@media (max-width: 1200px){
	header hgroup h1                            {width:50%;}
	header hgroup div                           {width:calc(48% - 1px);padding:0 1%;}
	header hgroup div p                         {font-size:13px;}
	header nav > ul > li.gb a                   {padding:33.5px 0;}
	header nav > ul > li.gb a > span            {font-size:12px;height:12px;}
}


/*------------------------------------------------------------------------------------------------*/
/* Index */
#index #Videos .MyFrame {border:10px solid #fff;width:calc(100% - 20px);height:calc(100% - 20px);}
#index #Videos .title {position:absolute;left:5%;top:50%;width:500px;height:96px;margin-top:-48px;z-index:5;}
#index #Videos .title h2 {position:relative;height:100%;overflow:hidden;}	
#index #Videos .title h2 img {position:absolute;display:block;transition:0.8s;opacity:0;}
#index #Videos .title h2 img:nth-of-type(1) {top:0;transform:translateY(-100%);}
#index #Videos .title h2 img:nth-of-type(2) {bottom:0;transform:translateY(100%);}
#index .Maps .InBox {position:absolute;top:50%;left:10%;width:400px;height:400px;margin-top:-200px;z-index:5;}
#index .Maps .InBox {text-shadow:0px 2px 2px rgb(0 0 0 / 40%);color:#fff;}
#index .Maps .InBox {transform:translateY(25%);transition:1.25s;opacity:0;}
#index .Maps .InBox h3 {margin-bottom:50px;font-size:25px;line-height:1.5;}
#index .Maps .InBox p {font-size:17px;line-height:1.7;}
#index .Movies iframe {position:absolute;top:10%;left:15%;width:70%;height:80%;display:block;}

/*------------------------------------------------------------------------------------------------*/
/* Video */
#video .frame iframe {width:100%;height:80vh;min-height:562px;}

/*------------------------------------------------------------------------------------------------*/
/* about */
#about #Videos {height:95vh;}
#about #Videos .MyFrame:before {background:#000;opacity:0.3;}
#about #Videos .title {position:absolute;top:50%;left:50%;margin:-75px 0 0 -300px;overflow:hidden;z-index:10;}
#about #Videos .line {position:absolute;bottom:0;left:50%;background:#fff;width:1px;height:35%;margin-left:-0.5px;z-index:10;} 
#about #Videos .title h2 {transform:translateY(-100%);transition:2s;opacity:0;}
#about #Videos .line {transform:translateY(100%);transition:2s;opacity:0;}

#about .exterior {width:100%;height:1300px;background:#fff;}
#about .exterior .bg {position:absolute;}
#about .exterior .bg01 {top:10%;right:0;width:87%;height:100%;background:#9CADBC;}
#about .exterior .bg02 {top:0;left:0;width:80%;height:90%;background:#1B3D2F;}

#about .exterior .title {position:relative;width:1300px;min-width:1000px;margin:0 auto;padding:10% 0 7.5%;z-index:2;}
#about .exterior .title h3 {font-size:38px;margin-bottom:3%;color:#CCFBE5;letter-spacing:4px}
#about .exterior .title p {font-size:20px;line-height:1.7;color:#E6F4F1;}
#about .exterior .title p strong{font-size:23px;line-height:1.7;color:#E6F4F1;font-weight:bolder;}
#about .exterior .title {transform:translateY(12.5%);transition:2s;opacity:0;}

#about #location {width:100%;padding-top:7.5%;background:#fff;z-index:3;}
#about #location .InBox {position:relative;max-width:1400px;min-width:1000px;margin:0 auto 7.5%;overflow:hidden;}
#about #location .txt h3 {font-size:45px;line-height:1.2;margin-bottom:3%;width:90%;font-family:'YiSunShinDotum';color:#006B7D;}
#about #location .txt p {color:#7b7b7b;font-size:17px;margin-bottom:5%;}
#about #location .Box {position:absolute;bottom:17.5%;right:0;background:#1B3D2F;z-index:10;}
#about #location .Box {padding:0 3%;height:340px;}
#about #location .Box P {padding-top:50px;}
#about #location .Box P:nth-of-type(2) {padding-top:10px;}
#about #location .Box P strong {display:block;margin-bottom:10px;color:#F2FCAD;font-size:18px;}
#about #location .Box P span {display:block;color:#fff;font-size:16px;line-height:1.7;}
#about #location .Box P b {color:#fff;font-size:13.5px;}
#about #location iframe {display:block;}

/*------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------*/
/* previews */
.preview #Videos {height:90vh;}
.preview #Videos .MyFrame:before {background:#000;opacity:0.3;}
.preview #Videos .title {position:absolute;top:50%;left:50%;margin:-75px 0 0 -300px;overflow:hidden;z-index:10;}
.preview #Videos .line {position:absolute;bottom:0;left:50%;background:#fff;width:1px;height:35%;margin-left:-0.5px;z-index:10;} 
.preview #Videos .title h2 {transform:translateY(-100%);transition:1s;opacity:0;}
.preview #Videos .line {transform:translateY(100%);transition:1s;opacity:0;}

#rooms_pv .lists {width:100%;background:#fff;}
#rooms_pv .lists .InBox {max-width:1400px;min-width:1000px;padding:10% 0;margin:0 auto;overflow:hidden;}	
#rooms_pv .lists .InBox > div {float:left;position:relative;width:48%;height:50vh;min-height:450px;margin:1%;}
#rooms_pv .lists .InBox > div > div.img {position:relative;height:100%;overflow:hidden;}
#rooms_pv .lists .InBox > div > div.img:before {position:absolute;top:0;left:0;width:100%;height:100%;content:"";display:block;z-index:1;background:#000;}
#rooms_pv .lists .InBox > div > div.img:before {transition:0.5s;opacity:0.3;}
#rooms_pv .lists .InBox > div > div.img div {position:absolute;top:0;left:0;width:100%;height:100%;}
#rooms_pv .lists .InBox > div > div.img div {background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
#rooms_pv .lists .InBox > div > div.btn {position:absolute;top:0;left:0;width:100%;height:100%;z-index:1;}
#rooms_pv .lists .InBox > div > div.btn > a {position:absolute;top:50%;left:50%;margin:-90px 0 0 -175px;transform:translateY(10%);transition:0.5s;opacity:1;}
#rooms_pv .lists .InBox > div > div.btn > a {display:block;width:350px;height:180px;text-align:center;color:#fff;}
#rooms_pv .lists .InBox > div > div.btn > a > h3 {line-height:1.5;}
#rooms_pv .lists .InBox > div > div.btn > a > h3 img {display: inline-block;}
#rooms_pv .lists .InBox > div > div.btn > a > h3 strong {display:block;font-size:25px;margin:5px 0 15px;font-weight:bolder;}
#rooms_pv .lists .InBox > div > div.btn > a > span {font-size:14px;color:#e8e8e8;line-height:1.3;}
#rooms_pv .lists .InBox > div > div.btn > a > div {width:90px;margin:40px auto 0;font-weight:bolder;}
#rooms_pv .lists .InBox > div > div.btn > a > div div {float:left;width:40px;height:1px;background:#fff;position:relative;top:7px;font-weight:bolder;}
#rooms_pv .lists .InBox > div > div.btn > a > div span {display:block;text-align:right;font-size:18px;}
#rooms_pv .lists .InBox > div:hover div.img:before {opacity:0.6;}	
#rooms_pv .lists .InBox > div:hover div.btn > a {transform:translateY(0);opacity:1;}
/*------------------------------------------------------------------------------------------------*/
/* detail */
.detail .infos {width:100%;background:#fff;}
.detail .infos .InBox {max-width:1400px;min-width:1000px;margin:0 auto;padding:7.5% 0;overflow:hidden;}
.detail .infos .InBox > div {float:left;width:48%;margin:0 1%;overflow:hidden;}	
.detail .infos .InBox > div	h3 {font-size:28px;margin-bottom:30px;color:#008993;}
.detail .infos .InBox > div	> ul {width:100%;overflow:hidden;}
.detail .infos .InBox > div	> ul > li {line-height:2;font-size:17px;overflow:hidden;color:#6E6E6E}
.detail .infos .InBox > div	> ul > li strong {display:block;font-weight:bold;float:left;width:80px;color:#474554}
.detail .infos .InBox > div	> ul > li span {display:block;float:left;width:calc(100% - 80px);color:#6E6E6E;}
.detail .infos .InBox > div	> ul > li ul {overflow:hidden;color:#8b8b8b;}
.detail .infos .InBox > div	> ul > li ul li {float:left;margin-right:3px;}
/* .detail .infos .InBox > div:nth-of-type(2) > ul > li {width:calc(100% - 20px);padding-left:20px;}	 */
/* .detail .infos .InBox > div:nth-of-type(2) > ul > li {background:url(../images/point.gif) no-repeat left 15.5px;}	 */

/*후기로 이동 시 스크롤 부드럽게 */
html {scroll-behavior: smooth;}

/*
#rooms .images {width:100%;background:#fff;}	
#rooms .images .InBox {max-width:1400px;min-width:1000px;margin:0 auto 5%;overflow:hidden;}	
#rooms .images .InBox img {display:block;margin-bottom:5%;transform:translateY(10%);transform:scale(0.95);opacity:0.5;transition:1s;}
*/

/*------------------------------------------------------------------------------------------------*/
/* Tables */
.tables .contents .InnerBox {max-width:1400px;min-width:1000px;padding:3% 0 7%;margin:0 auto;}
.tables .contents .frame {position:relative;max-width:1300px;min-width:800px;margin:0 auto;}
.tables .contents .frame h3 {width:98%;margin:0 auto;font-size:35px;}
.tables .contents .frame h3 strong {display:block;}
.tables .contents .frame h3 span {display:block;font-size:15px;padding:15px 0;}
.tables .contents .frame p {width:800px;margin:0 auto 5%;overflow:hidden;}
.tables .contents .frame p span {display:block;line-height:1.5;font-size:16px;float:left;width:50%;text-align:center;}
.tables .contents .frame iframe {display:block;margin-top:10px;padding-top:10px;border-top:1px solid #000;}

/*------------------------------------------------------------------------------------------------*/